main {
    min-height: 80vh;
  }
  
  .rating span {
    margin: 0.1rem;
  }
  
  .rating svg {
    color: #f8e825;
  }
  
  .rating-text {
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 0.5rem;
  }
  
  .product-title {
    height: 2.5em; /* Set a fixed height */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Add ellipsis for long text */
    white-space: nowrap; /* Prevent wrapping */
  }
  
  table td,
  table th {
    text-align: center;
  }
  
  .review {
    margin-top: 30px;
  }
  
  .review h2 {
    font-size: 24px;
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .review button {
    margin-top: 10px;
  }
  
  .carousel-caption {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .dropdown-menu.show {
    background-color: white;
  }
  .dropdown-item {
    background-color: white;
    color: black;
    z-index: 100;
  }
  .dropdown-item:hover {
    background-color: #7b8a8b73;
  }

  

.hero {
  background-image: url('https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?auto=format&amp;fit=crop&amp;w=3349&amp;q=80');
  background-size: cover;
  background-position: center center;
  height: 100vh; /* Adjust the height to your preference */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Text color for the hero content */
  text-align: center;
  font-family: Arial, sans-serif; /* Adjust font family as needed */
}

.hero-content {
  max-width: 800px; /* Adjust the max-width of the content */
  padding: 20px;
}

.hero h1 {
  font-size: 2.5em; /* Adjust the font size */
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em; /* Adjust the font size */
}
.hero-wrap {
  max-width: 100%;
  padding-top: 0;
}

